* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(162, 227, 184);
}
#panel {
   overflow: hidden;
  width: 90%;
  height: 80%;
  background-color: rgb(101, 238, 119);
  border-radius:10px ;
}
#ptop{
  padding: 0px 30%;
align-items: center;
justify-content: space-between;
  display: flex;
  width: 100%;
  height: 100px;
background-color: rgb(16, 92, 16);
}
.elum{
  display: flex;
  width:10%;
  align-items: center;
  gap: 5px;

}
.box{
  padding:10px 20px;
  background-color: aliceblue;
  border-radius: 5px;
  font-weight: 700;
  color: rgb(23, 147, 63);
  font-size: 20px;
}
#pbtm{
  display: flex;
  gap:5px;
  padding: 20px;
  width:100%;
  height:calc(100% - 100px);
  flex-wrap: wrap;

}
.bubble{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: green;
  border-radius:50%;
  font-size: 17px;
  font-weight:600px;
  color: white;
}
.bubble:hover{
  cursor: pointer;
  background-color: rgb(7, 66, 30);
}